.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: linear-gradient(to right, #17153B, #2E236C);
}

.box {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 350px;
}
.box input{
    width: 100%;
    margin: 10px auto;
}
.box label{
    display: block;
    text-align: left;
}
.box button{
    margin: 10px auto;
    width: 100%;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

